body {
    text-align: center;
    background-color: lightgreen;
    background-image: url("UPR_at_Mayaguez_Seal.png")
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
  }
  